<section class="mb-3 mt-3">
    <div class="row justify-content-between">
        <span class="col-auto raleway-title">Empleados</span>
        <div class="col-auto">
            <dx-button       
                class="button-main-action float-right"
                (click)="abrirModalAgregarEmpleado()"
                >
                <i class="fas fa-edit icon-color mr-4"></i>Nuevo
            </dx-button>
        </div>
    </div>
</section>
<div class="div-empleado-data-grid">
    <dx-data-grid
        id="TableEmpleados"
        class="mx-auto table-striped table-responsive"
        [dataSource]="this.data"
        focusRowEnabled="true"
        noDataText="No hay resultados para mostrar"
        [showBorders]="true"
        width="100%"
        #empleadoGrid
    >
        <dxo-paging id="PaginaEmpleadosBuscar" [pageSize]="10"></dxo-paging>
        <dxo-pager
            id="PagerEmpleadosBuscar"
            [allowedPageSizes]="[5, 10, 20]"
            infoText="Página {0} de {1} ({2} Resultados)"
            [showInfo]="true"
            [showPageSizeSelector]="true"
        >
        </dxo-pager>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Número Empleado"
            dataField="numeroEmpleado"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Nombre"
            dataField="nombre"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Apellido Paterno"
            dataField="apellidoPaterno"
        >
    </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Apellido Materno"
            dataField="apellidoMaterno"
        >
    </dxi-column>
    </dx-data-grid>
</div>
<app-formulario-agregar-empleado #agregarEmpleado (consultarEmpleado)="consultaEmpleados()"></app-formulario-agregar-empleado>