<app-nav-menu></app-nav-menu>
<section class="mb-3 mt-3">
    <div class="row justify-content-between">
        <span class="col-auto raleway-title">Movimientos por mes</span>
        <div class="col-auto">
            <dx-button       
                class="button-main-action float-right"
                (click)="abrirModalAgregarMovmiento()"
                >
                <i class="fas fa-edit icon-color mr-4"></i>Nuevo
            </dx-button>
        </div>
    </div>
</section>
<div class="div-movimientos-data-grid">
        <dx-data-grid
            id="TableMovimientos"
            class="mx-auto table-striped table-responsive"
            [dataSource]="this.data"
            focusRowEnabled="true"
            noDataText="No hay resultados para mostrar"
            [showBorders]="true"
            width="100%"
            (onExporting)="onExporting($event)"
            (onToolbarPreparing)="onToolbarPreparing($event)"
            #entregasGrid
        >
        <dxo-header-filter
            [visible]="true">
        </dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-paging id="PaginaMovimientosBuscar" [pageSize]="10"></dxo-paging>
        <dxo-pager
          id="PagerMovimientosBuscar"
          [allowedPageSizes]="[5, 10, 20]"
          infoText="Página {0} de {1} ({2} Resultados)"
          [showInfo]="true"
          [showPageSizeSelector]="true"
        >
        </dxo-pager>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            dataField="numeroEmpleado"
            headerCellTemplate="numeroEmpleado"
        >
        </dxi-column>
        <div *dxTemplate="let data of 'numeroEmpleado'">
            <p class="mb-0">Número<br>Empleado</p>
        </div>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Nombre"
            dataField="nombre"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Rol"
            dataField="rol"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Mes"
            dataField="mes"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            dataField="cantidadEntregas"
            headerCellTemplate="cantidadEntregas"
        >
        </dxi-column>
        <div *dxTemplate="let data of 'cantidadEntregas'">
            <p class="mb-0">Cantidad<br>de entregas</p>
        </div>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            dataField="horasTrabajadas"
            headerCellTemplate="horasTrabajadas"
        >
        </dxi-column>
        <div *dxTemplate="let data of 'horasTrabajadas'">
            <p class="mb-0">Horas<br>trabajadas</p>
        </div>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            dataField="pagoTotalBonos"
            headerCellTemplate="pagoTotalBonos"
        >
        </dxi-column>
        <div *dxTemplate="let data of 'pagoTotalBonos'">
            <p class="mb-0">Pago total<br>por bonos</p>
        </div>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Retenciones"
            dataField="retenciones"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Vales"
            dataField="vales"
        >
        </dxi-column>
        <dxi-column
            aligment="left"
            [allowFixing]="false"
            caption="Sueldo total"
            dataField="sueldoTotal"
        >
        </dxi-column>
    </dx-data-grid>
</div>
<app-formulario-entregas-empleado #agregarEntrega (consultarEntrega)="consultaEntrega()"></app-formulario-entregas-empleado>